{% extends 'base.html' %}
{% load static %}

{% block title %}MedicalCare - Home{% endblock %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'doc.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Doctor Illustration" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Doctor Appointment Application</h1>
            <p class="lead">Here you can book an appointment with our specialist doctors. Being prepared helps ensure you get the best care possible.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                {% if request.session.user %}
                    <a href="{% url 'home' %}" class="btn btn-primary btn-lg px-4 me-md-2">View Doctors</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg px-4">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
